@font-face {
}
head{
}
body{
	background-color: #E7DFC6;
}
.menu ul {
	text-align: right;
}
.menu ul li{
	font-family: 'Abhaya Libre', serif;
	list-style: none;
	display:inline-block;
	color:#C73E1D;
	margin:0px;
	width: auto;
	align-content:right;

}
.container {
	float:right; 
}
.dropbtn {

  background: #ff7a05;
  background-image: -webkit-linear-gradient(top, #ff7a05, #2980b9);
  background-image: -moz-linear-gradient(top, #ff7a05, #2980b9);
  background-image: -ms-linear-gradient(top, #ff7a05, #2980b9);
  background-image: -o-linear-gradient(top, #ff7a05, #2980b9);
  background-image: linear-gradient(to bottom, #ff7a05, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 2px;
  -webkit-box-shadow: 2px 3px 6px #666666;
  -moz-box-shadow: 2px 3px 6px #666666;
  box-shadow: 2px 3px 6px #666666;
  font-family: 'Abhaya Libre', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.dropbtn:hover {
  background: #292e2e;
  background-image: -webkit-linear-gradient(top, #292e2e, #2980b9);
  background-image: -moz-linear-gradient(top, #292e2e, #2980b9);
  background-image: -ms-linear-gradient(top, #292e2e, #2980b9);
  background-image: -o-linear-gradient(top, #292e2e, #2980b9);
  background-image: linear-gradient(to bottom, #292e2e, #2980b9);
  text-decoration: none;
}
.dropdown {
 	float: left;
 	display: inline-block;
 	width: 150px;
 	margin: 0px;

}
.dropdown-content {
	font-family: 'Abhaya Libre', serif;
	display: none;
	position: absolute;
	background-color: beige;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a{
	color: #2B0000;
	padding: 12px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #8A9CAD}

.dropdown:hover .dropdown-content {
	display: block;
	z-index: 1;
    display: block;
    margin-top: 0; 
 }

.social {
	font-family: 'Abhaya Libre', serif;
	font-size: 20px;
	background-color: #0D5496;
	color:#FFFFFF;
	text-align:center;
	padding-top: 8px;
	padding-bottom: 8px;


}
h1{
	font-family: 'Abhaya Libre', serif;
	font-size: 30px;
	background-color: #0D5496;
	color:#ffffff;
	text-align:center;
	padding-top: 8px;
	padding-bottom: 8px;
}

h2{
	font-family: 'Abhaya Libre', serif;
	font-size: 30px;
	text-align:left;
	padding-top: 8px;
	padding-bottom: 8px;
}	
.mySlides {display:none}

.slideshow-container {
  max-width: auto;
  position: center;
  margin: 0px;
}


.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
